{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="portfolio-overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="text-white">View our work</h2>
            {% for c in current_categories %}
            <a class="category-badge text-decoration-none" href="{% url 'portfolio:items' %}?category={{ c.name }}">
                <span class="p-2 mt-2 badge bg-light text-dark">{{ c.friendly_name }}</span>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="row mt-1 mb-2">
        <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-center">
            <div class="sort-select-wrapper w-50">
                <select id="sort-selector"
                    class="form-select form-select-sm -{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low
                        to high)</option>
                    <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating
                        (high to low)</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)
                    </option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)
                    </option>
                    <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category
                        (A-Z)</option>
                    <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>
                        Category (Z-A)</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-md-6 order-md-first">
            <p class="text-muted mt-3 text-center text-md-left">
                {% if search_term or current_categories or current_sorting != 'None_None' %}
                <span class="text-muted"><a href="{% url 'portfolio:items' %}" class="text-light"
                        style="text-decoration: none;">All</a> | </span>
                {% endif %}
                {{ items|length }} items{% if search_term %} found for
                <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for item in items %}
                <div class="col-sm-6 col-md-6 col-lg-4 my-5" data-aos="fade-up">
                    <div class="card h-100 border-0">
                        {% if item.image %}
                        <a href="{% url 'portfolio:item_detail' item.id %}">
                            <img class="card-img-top img-fluid" src="{{ item.image.url }}" alt="{{ item.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ item.name }}</p>
                            {% if item.category %}
                            <p class="small mt-1 mb-0">
                                <a class="text-muted category-link"
                                    href="{% url 'portfolio:items' %}?category={{ item.category.name }}">{{ item.category.friendly_name }}
                                </a>
                            </p>
                            {% endif %}
                        </div>
                        <div class="card-footer bg-transparent pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">€ {{ item.price }}</p>
                                    {% if item.rating %}
                                    <small class="text-muted"><i class="bi bi-star-fill"></i>{{ item.rating }} /
                                        5</small>
                                    {% else %}
                                    <small class="text-muted">No Rating</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}