{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col my-auto">
            <h1 class="display-4 logo-font text-white">
                Welcome to Snapdt! Beautiful photos delivered to your home.
            </h1>
            <div class="my-5">
                <h1>
                    <a href="" class="shop-now-button btn btn-lg btn-light text-uppercase py-3">Check them now!</a>
                </h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}