{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-6 my-auto"></div>
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-white" style="font-weight: 500;">Welcome to <span style="font-weight: 700;">snap</span>dt!</h1>
            <h3 class="logo-font text-white">Capturing beautiful moments.</h3>
            <div class="my-5">
                <h1>
                    <a href="" class="cta-button btn btn-lg btn-light text-uppercase py-3">View</a>
                </h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}