{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="portfolio-overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="mb-4">Thank you!</h2>
            <hr>
            <p>Please find below your order information. A confirmation email will be sent to
                <strong>{{ order.email }}</strong>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-7">
            
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-7">
            <a href="{% url 'portfolio:items' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <button type="button" class="btn btn-light">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z">
                        </path>
                    </svg>
                    Back to portfolio
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock %}