html {
    height: 100%;
}

body {
    background: #222f3e;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.home-header {
    background: #34495e;
}

.navbrand-logo {
    background: #576574;
}

.mobile-navbar-color {
    background: #576574;
}

.navbar-nav {
    font-weight: 700;
}

.cta-button {
    min-width: fit-content;
}

.text-white {
    color: #fff;
}

.portfolio-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #2c3e50;
    z-index: -1;
}

.item-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #34495e;
    z-index: -1;
}

.card {
    background: transparent;
}

.category-link {
    text-decoration: none;
    transition: all ease-in-out 0.2s;
}

.category-link:hover {
    color: #fff !important;
}

.update-link,
.remove-item {
    cursor: pointer;
}


.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

.header-container {
    padding-top: 164px;
}


/* CSS for hiding navbar on scroll */
.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}